@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

body {

    
    color: rgb(48, 44, 48);
    text-align: center;
    margin: 0 auto;
    background: #1e130c;  
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c); 
    background: linear-gradient(to right, #9a8478, #1e130c);
        
}

main{

    display: flex;
    flex-wrap: wrap;
}

header img {

    display: flex;
    max-width: 400px;
    margin-left: 220px;
    margin-top: 50px;
    /*border: 20px solid #9a8478;*/
}   

.adv {
    display: flex;
    color: white;
}

#estatua{
    box-shadow: 20px 20px 20px 0px #9a8478;
}


.adv h1{
    
    margin-left: 220px;
    margin-top: 130px;
}

.menu li {
    list-style-type: circle ;
    display: inline-block ;
    margin: 5px;
    text-align: left;
    color: white;
    margin-top: 30px;
    text-align: center;
    
    }

.itens a{

    transition: 300ms;
}
.itens a:hover{

    color: #9a8478;
    
}


.texto {

    display: flex;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    color: white;
    text-align: justify;
    font-size: 15px;
}

#civil{

    margin:20px
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;

}
.midias{

    color: white;
}

.copyright {

    color: white;
    font-size: 10px;
    display: contents;

}

.telefones p {

    color: white;
    font-size: 15px;


}
     

.legislacao{
    color: white
    
    
}

/*configuracao da pagina localizacao */

.img-end{

    display: flex;
    flex-direction: column;
    
    
    
}
.img-end a{

    margin: 0;
    padding: 0;
    
}

#end {

   
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 450px;
    box-shadow:1px 10px 10px 0px black;
    
    
}


#tend{
    color: white;
    margin-left: 450px;
    text-align: center;
}

.container{

    max-width: 1440px;
    display: flex;
    justify-content: center;
}

/*configuracao menu direita pagina legis*/
.direita {

    display: flex;
    color: white;
    font-size: 10px;
    text-decoration: none;
    text-align: left;
    justify-content: center;
}

.direita li{
    list-style: none;
    transition: 300ms;
}

.direita li a{
    transition: 300ms;
}
.direita li a:hover{

    color:#9a8478
}
.direita a{
    font-size: 20px;
}

    /*Configuracoes menu esquerda pagina Legis*/

    .esquerda {

        display: flex;
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: left;
        justify-content: center;
    }
    
    .esquerda li{
        list-style: none;
        transition: 300ms;
    }
    
    .esquerda li a{
        transition: 300ms;
    }
    .esquerda li a:hover{
    
        color:#9a8478
    }
    .esquerda a{
        font-size: 20px;
        justify-content: center;
    }

    
    .tdireita{

        color: white;
        width: 1300px;
        height: 200px;
        display: flex;
        justify-content: center;
    }

    .tdireita li{
        list-style: circle;
        list-style: none;
        
    }
    .tdireita li a{
        transition: 300ms;
        font-size: 18px;
        
    }
    
    .tdireita a:hover{
        
        font-size: 25px
    }


    .leia{

        max-width: 700px;
        color: white;
        text-align: justify;
        margin-left: 300px;
        font-family: 'Open Sans Condensed'
        
    }
    .leiab{max-width: 700px;
        color: white;
        text-align: justify;
        margin-left: 300px;
        font-family: 'Open Sans Condensed'
   
    }.contatos-pagina{

        font-size: 30px;
        font-weight: bolder;
        color: white;
        
        width: 50px;
        height: 50px;
        text-align: center;
        margin-left: 500px;
       
        
    }

    /* configuracoes pagina fale */

    .menu-central{

        margin-top: 60px;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 20px
        margi
    }
    

    @media only screen and (max-width:820px) {

        .adv{
            display: block;
        }
        
        #estatua {

            margin: 50px 80px 50px;
            width: 200px;
            height: 100px;
            
        }

        #titulo{
            margin: 0px;
        }

        
        .texto{

            width: 300px;
            font-size: 10px;
        }

        .ajuste{

            margin-top: 150px;
        }

        .ajuste-topo{

            text-align: center;
        }
     
        .opcoes{

            margin-top: 50px;
            color: white;
            margin-left: 130px;
        }
        .menu-central i{

            gap:20px;
            
        }
        .menu-central i{

            font-size: 0px
        }
            
    }

        
    
    @media only screen and (max-width:480px) {

        .img-end img{

            margin-left: 0px;
        }

        #end{
            margin: 0px;
            padding: 0px;
            margin-left: 20px;
            margin-top: 50px;
        }

        #tend{

            margin: 0px;
            padding: 0px;
            margin-left: 10px;
            margin-top: 50px;
            font-size: 15px;

        }

        
        .opcoes{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
        }

        .opcoes i{

            font-size: 10px;
             
        }

    }